{% extends "template.jinja" %}

{%block content %}
The textbook is about {{topic}}.

Each section of the textbook is made up of content blocks. Include the following blocks:
{{component_extras|join('\n')}}

{%if research_notes %}
You've written research notes for the textbook that you should reference for factual details and information.  They're surrounded with ``` to separate them from the rest of the textbook. Do not include a research notes section in the final textbook.  Include all relevant information from the research notes in the textbook.
{%endif%}

Do not start sections by describing what the student will learn.  Do not say "In this section, we will, ...", or "In this textbook, we will". Simply write the learning material without any summaries or introductions.  Write concisely, remove unnecessary transitions, and get straight to the point.  Do not repeat content from previous sections. Make sure the textbook is extremely long and detailed.

Write the textbook in markdown, with blocks separated by --- like the examples below. Write the next {{sections_to_author}} {{section_str}} of the outline. Start from the section shown below.
{% endblock %}