{% extends "template.jinja" %}

{%block content %}
Think step by step and creatively to develop a chapter and subchapter outline for a detailed textbook on {{topic}}.  An example of a chapter is `1. Introduction`, and a subchapter is `1.1. What is Programming?`.  There should be at least {{item_count}} chapters in the outline, and each chapter should have at least 3 subchapters.  Ensure that the outline progresses logically, with later items building on earlier ones.  Each item in the outline should be concise and to the point.
{% if concepts|length > 0 %}

Include the following concepts as appropriate: {{concepts|join(', ')}}.  You may also need to include elements in the outline beyond these concepts to cover the topic.{% endif %}

Also return up to two Google Search queries that you can run to get additional resources on the topic while writing the textbook.  The queries should pertain to the topic of the textbook and the outline.  The queries will help you get information about topics you're not as familiar with, but the topics should not be so specific that no results can be found for them.

Return the outline and queries in JSON format.  Do not include more than {{item_count}} chapters in the outline, and do not include more than 2 items in the queries.  Only respond with valid JSON.
{% endblock %}